body {
  background-color: lightyellow;
  color: darkmagenta;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  & span {
    color: red !important;
  }
}
